# File endings
*.o
*.so
*.dll
*.lo
*.in*
*.log
*.nice
*.status
*.ac

# Work spaces
.idea
.idea/
.idea/*
.vscode

# Build
configure
config.h
build
autom4*
libtool
Makefile
Makefile*

# Miscellaneous / Folders
gsl
php-8.0.6
